# Dates and Times

**importing and reading potus csv**

In [1]:
from csv import reader
opened_file = open('potus_visitors_2015.csv', encoding='utf-8')
read_file = reader(opened_file)
potus = list(read_file)

potus_header = potus[0]
potus = potus[1:]

In [2]:
import datetime as dt

ibm_founded = dt.datetime(1911,6,16)
print(ibm_founded)

man_on_moon = dt.datetime(1969,7,20,20,17)
print(man_on_moon)

1911-06-16 00:00:00
1969-07-20 20:17:00

In [3]:
print(potus_header)

['name', 'appt_made_date', 'appt_start_date', 'appt_end_date', 'visitee_namelast', 'visitee_namefirst', 'meeting_room', 'description']

In [4]:
print(potus[:3])

[['Joshua T. Blanton', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Jack T. Gutting', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Bradley T. Guiles', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']]

In [5]:
print(potus[0][2])

1/6/15 9:30

**datetime.datetime class**

---

In [6]:
date_format = "%m/%d/%y %H:%M"
for row in potus:
    start_date = row[2]
    start_date = dt.datetime.strptime(start_date, date_format)
    row[2] = start_date

In [7]:
visitors_per_month = {}

for row in potus:
    start_date_obj = row[2]
    start_date_str = start_date_obj.strftime("%B, %Y")
    if start_date_str not in visitors_per_month:
        visitors_per_month[start_date_str] = 1
    else:
        visitors_per_month[start_date_str] += 1

**datetime.time class**

---

_Example:_

In [8]:
time_1 = dt.time(8,0,5)
print(time_1)

time_2 = dt.datetime(1999,11,15,12,30)
print(time_2.time())

time_str = '8:05'
time_dt = dt.datetime.strptime(time_str, "%H:%M")
print(time_dt)

08:00:05
12:30:00
1900-01-01 08:05:00

In [9]:
appt_times = []

for row in potus:
    dt_obj = row[2]
    dt_time = dt_obj.time()
    appt_times.append(dt_time)

**Comparing two datetime.time objects**

---

_Example:_

In [10]:
t1 = dt.time(15,30)
t2 = dt.time(10,45)
t3 = dt.time(3,6)

comparison = t1 > t2
print(comparison)

times = [t1,t2,t3]
print(min(times))
print(max(times))

True
03:06:00
15:30:00

In [11]:
min_time = min(appt_times)
max_time = max(appt_times)

print(min_time, max_time)

06:00:00 21:30:00

**datetime.timedelta class**

---

_Example:_

In [12]:
dt1 = dt.datetime(2022, 4, 14)
dt2 = dt.datetime(2022, 3, 29)
print(dt1 - dt2)

diff = dt1 - dt2
print(type(diff))

two_days = dt.timedelta(2)
print(two_days)

three_weeks = dt.timedelta(weeks=3)
print(three_weeks)

one_hr_ten_mins = dt.timedelta(hours=1, minutes=10)
print(one_hr_ten_mins)

d1 = dt.date(1963, 2, 21)
d1_plus_1wk = d1 + dt.timedelta(weeks=1)
print(d1_plus_1wk)


dt_1 = dt.datetime(1981, 1, 31)
dt_2 = dt.datetime(1984, 6, 28)
dt_3 = dt.datetime(2016, 5, 24)
dt_4 = dt.datetime(2001, 1, 1, 8, 24, 13)

answer_1 = dt_2 - dt_1
answer_2 = dt_3 + dt.timedelta(days=56)
answer_3 = dt_4 - dt.timedelta(seconds=3600)

print(answer_1, answer_2, answer_3)

16 days, 0:00:00
<class 'datetime.timedelta'>
2 days, 0:00:00
21 days, 0:00:00
1:10:00
1963-02-28
1244 days, 0:00:00 2016-07-19 00:00:00 2001-01-01 07:24:13

The following converts appt_end_date to datetime objects

In [13]:
for row in potus:
    end_date = row[3]
    end_date = dt.datetime.strptime(end_date, "%m/%d/%y %H:%M")
    row[3] = end_date

In [14]:
appt_lengths = {}

for row in potus:
    appt_start_date = row[2]
    appt_end_date = row[3]
    length = appt_end_date - appt_start_date
    if length not in appt_lengths:
        appt_lengths[length] = 1
    else:
        appt_lengths[length] += 1
        
min_length = min(appt_lengths)
max_length = max(appt_lengths)