In [1]:
import pandas as pd
f500 = pd.read_csv('f500.csv')

f500_head = f500.head(10)
f500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB

In [2]:
rank_change = f500['previous_rank'] - f500['rank']
print(rank_change)

0        0
1        0
2        1
3       -1
4        3
      ...
495   -496
496    -70
497    -61
498    -32
499   -500
Length: 500, dtype: int64

In [3]:
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()

In [4]:
rank = f500['rank']
rank_desc = rank.describe()

prev_rank = f500['previous_rank']
prev_rank_desc = prev_rank.describe()

In [5]:
zero_previous_rank = f500['previous_rank'].value_counts().loc[0]

In [6]:
max_f500 = f500.max(numeric_only=True)
print(max_f500)

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

In [7]:
f500_desc = f500.describe()

In [8]:
f500.loc["Dow Chemical", "ceo"] = "Jim Fitterling"

# Boolean Indexing

---

In [9]:
motor_bool = f500['industry'] == 'Motor Vehicles and Parts'
f500[motor_bool]
motor_countries = f500.loc[motor_bool, 'country']

In [10]:
import numpy as np
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()
print(prev_rank_before)

prev_rank_bool = f500['previous_rank'] == 0
prev_rank_nan = f500.loc[prev_rank_bool,'previous_rank'] = np.nan

prev_rank_after = f500['previous_rank'].value_counts(dropna=False).head()
print(prev_rank_after)

# to do this in one step:
# f500.loc[f500['previous_rank'] == 0,'previous_rank'] = np.nan

0.0      33
1.0       1
296.0     1
300.0     1
334.0     1
Name: previous_rank, dtype: int64
NaN      34
1.0       1
302.0     1
334.0     1
325.0     1
Name: previous_rank, dtype: int64

In [11]:
f500['rank_change'] = f500['previous_rank'] - f500['rank']
rank_change_desc = rank_change.describe()

In [36]:
usa = f500[f500['country'] == 'USA']
usa.head()

industry_usa = usa['industry'].value_counts().head(2)
print(industry_usa)

Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    7
Name: industry, dtype: int64

In [40]:
china = f500[f500['country'] == 'China']
china.head()

sector_china = china['sector'].value_counts().head(3)
print(sector_china)

Financials     25
Energy         22
Wholesalers     9
Name: sector, dtype: int64