In [17]:
import pandas as pd
apps_data = pd.read_csv('AppleStore.csv')
apps_data.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
1,389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1
2,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1
3,420009108,Temple Run,65921024,USD,0.0,1724546,3842,4.5,4.0,1.6.2,9+,Games,40,5,1,1
4,284035177,Pandora - Music & Radio,130242560,USD,0.0,1126879,3594,4.0,4.5,8.4.1,12+,Music,37,4,1,1

# Dictionaries

In [2]:
content_ratings = ['4+', '9+', '12+', '17+']
numbers = [4433, 987, 1155, 622]

In [3]:
content_rating_numbers = [content_ratings, numbers]
content_rating_numbers

[['4+', '9+', '12+', '17+'], [4433, 987, 1155, 622]]

In [4]:
content_ratings = {'4+': 4433, '9+': 987, '12+': 1155, '17+': 622}
print(content_ratings)

{'4+': 4433, '9+': 987, '12+': 1155, '17+': 622}

In [5]:
over_9 = content_ratings['9+']
over_17 = content_ratings['17+']

print(over_9)
print(over_17)

987
622

In [6]:
content_ratings = {}
content_ratings['12+'] = 1155
content_ratings['17+'] = 622
content_ratings['4+'] = 4433
content_ratings['9+'] = 987

In [7]:
over_12_n_apps = content_ratings['12+']
print(over_12_n_apps)

1155

In [8]:
d_1 = {'key_1': 'first_value', 
 'key_2': 2,
 'key_3': 3.14,
 'key_4': True,
 'key_5': [4,2,1],
 'key_6': {'inner_key' : 6}
 }

# Dictionaries and Frequency Tables

In [9]:
is_in_dictionary_1 = '9+' in content_ratings
is_in_dictionary_2 = 987 in content_ratings

In [10]:
if '17+' in content_ratings:
    result = 'It exists'
    
print(result)

It exists

In [11]:
content_ratings = {'4+': 622, '12+': '1155', '9+': 987, '17+': 4433}

In [12]:
temp = content_ratings['4+']
content_ratings['4+'] = content_ratings['17+']
content_ratings['17+'] = temp
content_ratings['12+'] = 1155
print(content_ratings)

{'4+': 4433, '12+': 1155, '9+': 987, '17+': 622}

Creating a dictionary with the appropriate keys and 0 for all values. ie. { '4+' : 0 }

In [16]:
content_ratings = {'4+': 0, '9+': 0, '12+': 0, '17+': 0}

for row in apps_data[1:]:
    c_rating = row[10]
    if c_rating in content_ratings:
        content_ratings[c_rating] += 1
        
print(content_ratings)

IndexError: string index out of range

In [ ]:
content_ratings = {}
for row in apps_data[1:]:
    c_rating = row[10]
    if c_rating in content_ratings:
        content_ratings[c_rating] += 1
    else:
        content_ratings[c_rating] = 1
        
print(content_ratings)