# Working with Data Frames in pandas

---

In [1]:
import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None

In [2]:
f500_type = type(f500)
f500_shape = f500.shape
print(f500_type)
print(f500_shape)

<class 'pandas.core.frame.DataFrame'>
(500, 16)

In [3]:
f500_head = f500.head(6)
f500_tail = f500.tail(8)

In [4]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [5]:
industries = f500.loc[:,'industry']
industries

industries_type = type(industries)
print(industries_type)

<class 'pandas.core.series.Series'>

In [6]:
countries = f500.loc[:,'country']
revenues_years = f500.loc[:,['revenues','years_on_global_500_list']]
ceo_to_sector = f500.loc[:,'ceo':'sector']

print(countries)
print(revenues_years)
print(ceo_to_sector)

Walmart                               USA
State Grid                          China
Sinopec Group                       China
China National Petroleum            China
Toyota Motor                        Japan
                                   ...
Teva Pharmaceutical Industries     Israel
New China Life Insurance            China
Wm. Morrison Supermarkets         Britain
TUI                               Germany
AutoNation                            USA
Name: country, Length: 500, dtype: object
                                revenues  years_on_global_500_list
Walmart                           485873                        23
State Grid                        315199                        17
Sinopec Group                     267518                        19
China National Petroleum          262573                        17
Toyota Motor                      254694                        23
...                                  ...                       ...
Teva Pharmaceutical Industries     21903                         1
New China Life Insurance           21796                         2
Wm. Morrison Supermarkets          21741                        13
TUI                                21655                        23
AutoNation                         21609                        12

[500 rows x 2 columns]
                                                ceo  \
Walmart                         C. Douglas McMillon
State Grid                                  Kou Wei
Sinopec Group                             Wang Yupu
China National Petroleum              Zhang Jianhua
Toyota Motor                            Akio Toyoda
...                                             ...
Teva Pharmaceutical Industries    Yitzhak Peterburg
New China Life Insurance                   Wan Feng
Wm. Morrison Supermarkets            David T. Potts
TUI                               Friedrich Joussen
AutoNation                       Michael J. Jackson

                                                       industry  \
Walmart                                   General Merchandisers
State Grid                                            Utilities
Sinopec Group                                Petroleum Refining
China National Petroleum                     Petroleum Refining
Toyota Motor                           Motor Vehicles and Parts
...                                                         ...
Teva Pharmaceutical Industries                  Pharmaceuticals
New China Life Insurance        Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                  Food and Drug Stores
TUI                                             Travel Services
AutoNation                                  Specialty Retailers

                                                sector
Walmart                                      Retailing
State Grid                                      Energy
Sinopec Group                                   Energy
China National Petroleum                        Energy
Toyota Motor                    Motor Vehicles & Parts
...                                                ...
Teva Pharmaceutical Industries             Health Care
New China Life Insurance                    Financials
Wm. Morrison Supermarkets           Food & Drug Stores
TUI                                  Business Services
AutoNation                                   Retailing

[500 rows x 3 columns]

In [7]:
toyota = f500.loc['Toyota Motor',:]
drink_companies = f500.loc[['Anheuser-Busch InBev','Coca-Cola', 'Heineken Holding'],:]
middle_companies = f500.loc['Tata Motors':'Nationwide','rank':'country']

In [10]:
big_movers = f500.loc[['Aviva', 'HP', 'JD.com','BHP Billiton'],['rank', 'previous_rank']]
bottom_companies = f500.loc['National Grid':'AutoNation',['rank', 'sector', 'country']]